@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  min-width: 500px;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content {
  width: 500px;
  max-height: 600;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 225px);
}

.content__row {
  padding: 60px 50px;
  position: relative;
}

.content__head {
  text-align: center;
}

.content__title {
  font-size: 40px;
  margin: 0 0 10px 0;
}

.content__link-box {
  margin: 0 0 30px 5px;
  font-size: 16px;
}

.content__link {
  color: #fff;
  display: inline-block;
}

.content__login {
  width: 100%;
  padding: 0 0 0 30px;
  font-size: 20px;
}

.content__buttonflex {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 50px 0 0 0;
}

.content__button {
  background-color: #d33c3c;
  width: 160px;
  font-size: 27px;
  color: #fff;
}

.content__button-link {
  margin: 0 5px 0 0;
}

.content__check {
  margin: 0 0 20px 0;
}

.content__check span {
  padding: 0 0 0 20px;
  font-size: 16px;
}

.content__link-black {
  padding: 0 0 0 20px;
  color: black;
  font-size: 16px;
}

.content__link-black:hover {
  text-decoration: underline;
  color: black;
}

.content__cross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.content__foot-link {
  display: block;
  max-width: 200;
  height: 20px;
  margin: 30px auto;
}

.container {
  background-color: rgba(226, 223, 219, 0.966);
  width: 500px;
  max-height: 600;
  box-shadow: inset 0px -5px 3px #9c1919;
}

.bu {
  display: flex;
  margin: 0 0 20px 0;
  height: 60px;
}

.link:hover {
  text-decoration: underline;
  color: #fff;
}
